@page "/movies"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Authorization
@inject BlazorSQLExample.Data.ApplicationDbContext DB
@using BlazorSQLExample.Models

@attribute [Authorize]

<AuthorizeView>

    <PageTitle>Index</PageTitle>

    <h1>Index</h1>

    <p>
        <a href="movies/create">Create New</a>
    </p>

    <QuickGrid Class="table" Items="DB.Movie">
        <PropertyColumn Property="movie => movie.Title" Sortable="true" />
        <PropertyColumn Property="movie => movie.ReleaseDate" />
        <PropertyColumn Property="movie => movie.Genre" />
        <PropertyColumn Property="movie => movie.Price" Format="$##.00" />

        <TemplateColumn Context="movie">
            <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"movies/details?id={movie.Id}")">Details</a> |
            <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>

</AuthorizeView>

